@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&family=Rubik:wght@400;500;600;700&display=swap');

:root {

    --nav-button-text-color: #fff;
    --nav-button-mobile-text-color: #000;
    --nav-button-mobile-border-color: rgba(0, 0, 0, 0.1);
    --hero-text-color: rgba(255, 255, 255, 1);
    --header-text-color: #000;
    --sub-header-text-color: #FAC213;
    --description-text-color: rgba(0, 0, 0, 0.7);
    --button-text-color: #fff;

    --first-color: #fff;
    --second-color: #FFF8EF;
    --third-color: #111;
    --button-color: #FAC213;

    --navbar-background-color: transparent;
    --navbar-mobile-background-color: rgba(255, 255, 255, 1);
    --footer-background-color: rgba(255, 255, 255, 1);
    --gradient-background-color: rgba(0, 0, 0, 0.8);

    --border-offer-box-color: rgba(0, 0, 0, 0.2);
    --shadow-border-arrow-color: rgba(0, 0, 0, 0.35);

    --body-font: 'Rubik', sans-serif;
    --second-font: 'Delius Unicase', cursive;

    --header-font-size: 30px;
    --sub-header-font-size: 22px;
    --description-font-size: 17px;
    --nav-font-size: 22px;
    --nav-mobile-font-size: 19px;
    --fast-chooise-mobile-font-size: 35px;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    --z-fixed: 999
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font)
}

.container {
    max-width: 1296px;
    padding: 30px 10px 15px 10px;
    margin: 0 auto;
}

.header {
    color: var(--header-text-color);
    font-size: var(--header-font-size);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.sub-header {
    color: var(--sub-header-text-color);
    font-size: var(--sub-header-font-size);
    font-family: var(--second-font);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight: var(--font-bold);
}

.description {
    color: var(--description-text-color);
    font-size: var(--description-font-size);
    margin-bottom: 15px;
    line-height: 140%;
}

.button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
}

.link {
    background-color: transparent;
    color: var(--button-text-color);
    border-radius: 5px;
    padding: 5px 5px;
    text-transform: uppercase;
    font-weight: var(--font-medium);
}

img {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--first-color);
}

header {
    background-image: url(./assets/img/backgroundHeader.jpg);
    height: 100vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.nav__gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--gradient-background-color);
}

.nav__logo {
    width: 100px;
}

.nav__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 10px;
    z-index: var(--z-fixed);
}

.nav__socials-container {
    display: none;
}

.nav__links {
    position: absolute;
    top: 80px;
    left: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    background-color: var(--navbar-mobile-background-color);
    padding: 10px 30px;
}

.nav__links.active {
    display: flex;
}

.nav__link {
    text-transform: uppercase;
    font-size: var(--nav-mobile-font-size);
    color: var(--nav-button-mobile-text-color);
    width: 100%;
    font-weight: var(--font-semi-bold);
    width: 100%;
    display: flex;
    align-items: center;

}

.nav__link-item {
    padding: 15px 0px;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid var(--nav-button-mobile-border-color);
}

.nav__bar {
    max-width: 1296px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.nav__cart-container {
    color: var(--first-color);
}

.toggle__menu {
    background: none;
    border: none;
    color: var(--first-color);
}

.hero {
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 80px 0 0 0;
}

.hero__text-container {
    text-align: center;
    width: 350px;
    margin-top: 50px;
}

.hero__header {
    font-size: calc(var(--header-font-size) * 1.9);
    color: var(--hero-text-color);
    text-transform: none;
}

.fast-choice__left-container,
.fast-choice__right-container {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    background-image: url(./assets/img/fastChooise1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.fast-choice__right-container {
    background-image: url(./assets/img/fastChooise2.jpg);
}

.fast-choice__header {
    font-family: var(--second-font);
    font-weight: var(--font-bold);
    font-size: var(--fast-chooise-mobile-font-size);
    width: 200px;
    text-shadow: 1px 1px 20px black;
    color: var(--first-color);
}

.the-best-pizza {
    background-color: var(--second-color);
    text-align: center;
}

.the-best-pizza__header,
.the-best-pizza__header span {
    font-family: var(--second-font);
    font-size: 38px;
}

.the-best-pizza__header span {
    color: #FAC213;
    font-size: 85px;
}

.the-best-pizza__description {
    color: var(--description-text-color);
    line-height: 170%;
}

.slider__text-container {
    text-align: center;
}

.slider__carousel-container {
    position: relative;
}

.slider__carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    gap: 10px;
    scroll-behavior: smooth;
}

.slider__carousel::-webkit-scrollbar {
    display: none;
}

.slider__carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.slider__carousel.no-transition {
    scroll-behavior: auto;
}

.slider__carousel.dragging .carousel__card {
    cursor: grab;
    user-select: none;
}

.carousel__card {
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    text-align: center;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    padding: 20px 15px;
}

.carousel__header {
    font-size: 21px;
    margin-bottom: 15px;
}

.carousel__img-container {
    width: 270px;
    margin-bottom: 15px;
}

.carousel__price {
    font-size: 28px;
    font-weight: 600;
    color: #FAC213;
}

.slider__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    box-shadow: 0 3px 6px var(--shadow-border-arrow-color);
}

.slider__arrow:first-child {
    left: -6px;
}

.slider__arrow:last-child {
    right: -6px;
}



.menu {
    background-image: url(./assets//img/backgroundMenu.jpg);
    color: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.menu__pizza-menu,
.menu__drinks-menu {
    border: 2px solid #FAC213;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

.menu__header {
    color: #FAC213;
}

.menu__text-container .menu__sub-header:first-child {
    text-align: center;
}

.menu__pizza-container,
.menu__drinks-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.menu__pizza-top-contaier,
.menu__drinks-top-contaier {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu__pizza-price,
.menu__drinks-price {
    font-size: 20px;
    font-weight: var(--font-bold);
}

.menu__description {
    padding: 5px;
    color: rgba(255, 255, 255, 0.9);
}

.delivery {
    background-color: var(--second-color);
    text-align: center;
}

.delivery__text-container {
    margin-bottom: 60px;
}

.footer__cointainer {
    text-align: center;

}

.footer__quick-links a,
.footer__social-container a {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 15px;
    font-weight: var(--font-semi-bold);
    font-size: 16px;
    text-transform: uppercase;

}

.footer__social-container a {
    margin-right: 15px;
}

.footer__social-header,
.footer__contact-header,
.footer__quick-links-header {
    font-size: 25px;
    margin-bottom: 10px;
}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__contact-container p {
    margin-bottom: 10px
}