@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&family=Rubik:wght@400;500;600;700&display=swap');

:root {

    --nav-button-text-color: #fff;
    --nav-button-mobile-text-color: #000;
    --nav-button-mobile-border-color: rgba(0, 0, 0, 0.1);
    --hero-text-color: rgba(255, 255, 255, 1);
    --header-text-color: #000;
    --sub-header-text-color: #FAC213;
    --description-text-color: rgba(0, 0, 0, 0.7);
    --button-text-color: #fff;

    --first-color: #fff;
    --second-color: #FFF8EF;
    --third-color: #111;
    --button-color: #FAC213;

    --navbar-background-color: transparent;
    --navbar-mobile-background-color: rgba(255, 255, 255, 1);
    --footer-background-color: rgba(255, 255, 255, 1);
    --gradient-background-color: rgba(0, 0, 0, 0.8);

    --border-offer-box-color: rgba(0, 0, 0, 0.2);
    --shadow-border-arrow-color: rgba(0, 0, 0, 0.35);

    --body-font: 'Rubik', sans-serif;
    --second-font: 'Delius Unicase', cursive;

    --header-font-size: 30px;
    --sub-header-font-size: 22px;
    --description-font-size: 17px;
    --nav-font-size: 22px;
    --nav-mobile-font-size: 19px;
    --fast-chooise-mobile-font-size: 35px;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    --z-fixed: 999
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font)
}

.container {
    max-width: 1296px;
    padding: 30px 10px 15px 10px;
    margin: 0 auto;
}

.header {
    color: var(--header-text-color);
    font-size: var(--header-font-size);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.sub-header {
    color: var(--sub-header-text-color);
    font-size: var(--sub-header-font-size);
    font-family: var(--second-font);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight: var(--font-bold);
}

.description {
    color: var(--description-text-color);
    font-size: var(--description-font-size);
    margin-bottom: 15px;
    line-height: 140%;
}

.button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
}

.link {
    background-color: transparent;
    color: var(--button-text-color);
    border-radius: 5px;
    padding: 5px 5px;
    text-transform: uppercase;
    font-weight: var(--font-medium);
}

img {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--first-color);
}

header {
    height: 50vh;
    position: relative;
    background-color: var(--second-color);
}

.nav__logo {
    width: 100px;
}

.nav__container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 10px;
    z-index: var(--z-fixed);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.nav__socials-container {
    display: none;
}

.nav__links {
    position: absolute;
    top: 80px;
    left: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    background-color: var(--navbar-mobile-background-color);
    padding: 10px 30px;
}

.nav__links.active {
    display: flex;
}

.nav__link {
    text-transform: uppercase;
    font-size: var(--nav-mobile-font-size);
    color: var(--nav-button-mobile-text-color);
    width: 100%;
    font-weight: var(--font-semi-bold);
    width: 100%;
    display: flex;
    align-items: center;

}

.nav__link-item {
    padding: 15px 0px;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid var(--nav-button-mobile-border-color);
}

.nav__bar {
    max-width: 1296px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.nav__cart-container {
    color: var(--first-color);
}

.hero {
    position: relative;
    height: calc(50vh - 80px);
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}


.her__img {
    width: 170px;
    filter: opacity(50%);
    margin-right: 10px;
    transform: rotate(25deg)
}

.toggle__menu {
    background: none;
    border: none;
    color: var(--third-color);
}

.about__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

.about__img {
    max-width: 400px;
    margin-bottom: 20px;
}


.footer__cointainer {
    text-align: center;

}

.slider__container {
    position: relative;
    overflow: hidden;
}

.slider__img {
    position: absolute;
    top: 120px;
    left: 0;
    filter: opacity(45%);
    transform: rotate(45deg);
}

.slider__text-container {
    text-align: center;
}

.img img {
    width: 110px;
    height: 110px;
    margin-bottom: 15px;
    border-radius: 50%;
}

.img {
    object-fit: cover;
}

.wrapper {
    position: relative;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.card {
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    padding: 20px 15px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    box-shadow: 0 3px 6px var(--shadow-border-arrow-color);
}

.carousel__header {
    font-size: 21px;
    margin-bottom: 15px;
}

.carousel__description {
    padding: 0 30px;
}

.arrow:first-child {
    left: -6px;
}

.arrow:last-child {
    right: -6px;
}

.footer__quick-links a,
.footer__social-container a {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 15px;
    font-weight: var(--font-semi-bold);
    font-size: 16px;
    text-transform: uppercase;

}

.footer__social-container a {
    margin-right: 15px;
}

.footer__social-header,
.footer__contact-header,
.footer__quick-links-header {
    font-size: 25px;
    margin-bottom: 10px;
}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__contact-container p {
    margin-bottom: 10px
}

@media screen and (min-width:400px) {

    .slider__img {
        top: 100px;
    }

}

@media screen and (min-width:600px) {
    .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }

    .slider__img {
        top: 0;
        left: 0;
        transform: rotate(137deg) scale(0.5);
    }

}

@media screen and (min-width:900px) {
    .carousel {
        grid-auto-columns: calc((100% / 3) - 12px);
    }

    .slider__img {
        top: -70px;
        left: 0;
        transform: rotate(137deg) scale(0.5);
    }
}

@media screen and (min-width:1260px) {
    .carousel {
        grid-auto-columns: calc((100% / 3) - 12px);
    }

    .slider__img {
        top: -150px;
        left: 0;
        transform: rotate(137deg) scale(0.4);
    }
}