@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&family=Rubik:wght@400;500;600;700&display=swap');

:root {

    --nav-button-text-color: #fff;
    --nav-button-mobile-text-color: #000;
    --nav-button-mobile-border-color: rgba(0, 0, 0, 0.1);
    --hero-text-color: rgba(255, 255, 255, 1);
    --header-text-color: #000;
    --sub-header-text-color: #FAC213;
    --description-text-color: rgba(0, 0, 0, 0.7);
    --button-text-color: #fff;

    --first-color: #fff;
    --second-color: #FFF8EF;
    --third-color: #111;
    --button-color: #FAC213;

    --navbar-background-color: transparent;
    --navbar-mobile-background-color: rgba(255, 255, 255, 1);
    --footer-background-color: rgba(255, 255, 255, 1);
    --gradient-background-color: rgba(0, 0, 0, 0.8);

    --border-offer-box-color: rgba(0, 0, 0, 0.2);
    --shadow-border-arrow-color: rgba(0, 0, 0, 0.35);

    --body-font: 'Rubik', sans-serif;
    --second-font: 'Delius Unicase', cursive;

    --header-font-size: 30px;
    --sub-header-font-size: 22px;
    --description-font-size: 17px;
    --nav-font-size: 22px;
    --nav-mobile-font-size: 19px;
    --fast-chooise-mobile-font-size: 35px;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    --z-fixed: 999
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font)
}

.container {
    max-width: 1296px;
    padding: 30px 10px 15px 10px;
    margin: 0 auto;

}

.header {
    color: var(--header-text-color);
    font-size: var(--header-font-size);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.sub-header {
    color: var(--sub-header-text-color);
    font-size: var(--sub-header-font-size);
    font-family: var(--second-font);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight: var(--font-bold);
}

.description {
    color: var(--description-text-color);
    font-size: var(--description-font-size);
    margin-bottom: 15px;
    line-height: 140%;
}

.button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
}

.link {
    background-color: transparent;
    color: var(--button-text-color);
    border-radius: 5px;
    padding: 5px 5px;
    text-transform: uppercase;
    font-weight: var(--font-medium);
}

img {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--first-color);
}

header {
    height: 50vh;
    position: relative;
    background-color: var(--second-color);
}

.background__img-first,
.background__img-second,
.background__img-third,
.background__img-fourth {
    position: absolute;
    width: 200px;
    filter: opacity(5%);
}

.background__img-first {
    top: -50%;
    left: 0;
    transform: rotate(45deg);
}

.background__img-third {
    top: 50%;
    right: 10%;
    transform: rotate(45deg);
}

.nav__logo {
    width: 100px;
}

.nav__container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 10px;
    z-index: var(--z-fixed);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.nav__socials-container {
    display: none;
}

.nav__links {
    position: absolute;
    top: 80px;
    left: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    background-color: var(--navbar-mobile-background-color);
    padding: 10px 30px;
}

.nav__links.active {
    display: flex;
}

.nav__link {
    text-transform: uppercase;
    font-size: var(--nav-mobile-font-size);
    color: var(--nav-button-mobile-text-color);
    width: 100%;
    font-weight: var(--font-semi-bold);
    width: 100%;
    display: flex;
    align-items: center;

}

.nav__link-item {
    padding: 15px 0px;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid var(--nav-button-mobile-border-color);
}

.nav__bar {
    max-width: 1296px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.nav__cart-container {
    color: var(--first-color);
}

.hero {
    position: relative;
    height: calc(50vh - 80px);
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}


.her__img {
    width: 170px;
    filter: opacity(65%);
    margin-right: 10px;
    transform: rotate(25deg)
}

.toggle__menu {
    background: none;
    border: none;
    color: var(--third-color);
}

.menu {
    position: relative;
    overflow: hidden;
}

.menu__img-first,
.menu__img-second,
.menu__img-third,
.menu__img-fourth {
    position: absolute;
    width: 200px;
    filter: opacity(10%);
}

.menu__img-first {
    top: 0;
    left: 0;
}

.menu__img-second {
    bottom: 0;
    right: 0;
}

.menu__pizza-container,
.menu__drinks-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menu__pizza-top-contaier,
.menu__drinks-top-contaier {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu__pizza-price,
.menu__drinks-price {
    font-size: 20px;
    font-weight: var(--font-bold);
}

.menu__description {
    padding: 5px;
    color: rgba(1, 1, 1, 0.5);
}

.footer__cointainer {
    text-align: center;

}

.footer__quick-links a,
.footer__social-container a {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 15px;
    font-weight: var(--font-semi-bold);
    font-size: 16px;
    text-transform: uppercase;

}

.footer__social-container a {
    margin-right: 15px;
}

.footer__social-header,
.footer__contact-header,
.footer__quick-links-header {
    font-size: 25px;
    margin-bottom: 10px;
}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__contact-container p {
    margin-bottom: 10px
}

@media screen and (min-width:860px) {
    :root {
        --header-font-size: calc(30px * 1.4);
    }

    header {
        height: 40vh;
    }


    .hero {
        justify-content: center;
        height: calc(40vh - 80px);
    }

    .menu__container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .menu__pizza-container-left {
        margin-right: 25px;
    }

    footer {
        width: 100%;
    }

    .footer__cointainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .footer__left-container,
    .footer__right-container {
        display: flex;
        width: 50%;
        justify-content: space-between;
    }
}

@media screen and (min-width:1024px) {

    .container {
        padding: 80px 25px 55px 25px;
    }

    .toggle__menu {
        display: none;
    }

    .nav__logo {
        width: 110px;
    }

    .nav__container {
        padding: 0px 30px;
        height: auto;
    }

    .nav__links {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        width: 50%;
        height: auto;
        background-color: transparent;
        padding: 0;
    }

    .nav__link {
        color: var(--third-color);
        font-weight: var(--font-medium);
        height: 80px;
        width: 100%;
        justify-content: center;
    }

    .nav__link:hover {
        color: var(--button-color);
    }

    .nav__link-item {
        padding: 0;
        height: auto;
        width: auto;
        border-bottom: none;
    }

    .nav__socials-container {
        display: block;

    }

    .nav__socials-container a {
        margin-right: 20px;
        color: var(--third-color);
    }

    .nav__socials-container a:last-child {
        margin-right: 0px;
    }

}